@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Friendly online store</title>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Taniya's online grocery store</h1>
    </header>
    <nav class="nav-bar">
        <ul>
            <li><a href=""/></li>
            <li><a href="" /></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
